body {
  background-image: url("icons/repeatingbgdarkblue.png");
  background-color: #BF8DE2;
  background-repeat: repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #B8F7FF;
  text-shadow: 1px 0px 2px #BF8DE2, -1px 0px 2px #BF8DE2, 0px 1px 2px #BF8DE2, 0px -1px 2px #BF8DE2;
  /*
  text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;
  */
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: bolder !important;
}

/* Sampler */

.sampler {
  margin: auto;
  margin-bottom: 16px;
  padding: 0px;
  border: 0px;
  border-radius: 4px;
  background-color: rgba(191, 141, 226, 0.2);
}

.sampler caption {
  width: min-content;
}

.sampler .part-selector {
  /* TODO: Fix this to match the table width. */
  width: 351px;
}

.sampler .row {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.sampler .step {
  padding: 0px;
  margin: 4px;
  width: 72px;
  height: 72px;
  border-width: 2px;
  border-radius: 4px;
  border-spacing: 0px;
}

.sampler .cell {
  margin: 0px;
  padding: 0px;
  border-radius: 4px;
  opacity: 0.9;
}

/*
.sampler .cell:hover {
  background-color: #B8F7FF;
}
*/

.sampler .cell.OFF .step {
  background-color: transparent; 
}

.sampler .cell.ON {
  opacity: 0.8;
}

.sampler .cell.ACCENT .step {
  opacity: 0.8;
}

.sampler .sd .cell.ON .step {
  background-image: url("icons/button_snare.png");
}

.sampler .sd .cell.ACCENT .step {
  background-image: url("icons/button_snare_accent.png");
}

.sampler .ch .cell.ON .step {
  background-image: url("icons/button_hihat.png");
}

.sampler .ch .cell.ACCENT .step {
  background-image: url("icons/button_hihat_accent.png");
}

.sampler .bd .cell.ON .step {
  background-image: url("icons/button_bass.png");
}

.sampler .bd .cell.ACCENT .step {
  background-image: url("icons/button_bass_accent.png");
}

.sampler .cell.playing {
  background-color: #B8F7FF;
}

.sampler .caption {
  width: min-content;
}

.sampler tbody {
  background-size: cover;
}

.sampler.current tbody.sd {
  background-image: url("icons/grid_snare_blue.png");
}

.sampler.current tbody.bd {
  background-image: url("icons/grid_bass_blue.png");
}

.sampler.current tbody.ch {
  background-image: url("icons/grid_hihat_blue.png");
}

.sampler.target tbody.sd {
  background-image: url("icons/grid_snare_red.png");
}

.sampler.target tbody.bd {
  background-image: url("icons/grid_bass_red.png");
}

.sampler.target tbody.ch {
  background-image: url("icons/grid_hihat_red.png");
}

span.MuiTabs-indicator {
  background-color: #B8F7FF;
}

/*
.sampler tbody.sd {
  background-image: url('icons/iconsnare.png');
}

.sampler tbody.bd {
  background-image: url('icons/iconbass.png');
}

.sampler tbody.ch {
  background-image: url('icons/iconhihat.png');
}
*/

.current-enter{
   opacity: 0;
   transform: translateX(-200px);
}
.current-exit{
   opacity: 1;
   transform: translateX(0);
}
.current-enter-active{
   opacity: 1;
   transform: translateX(0);
   transition: transform 200ms, opacity 200ms;
}
.current-exit-active{
   opacity: 0;
   transform: translateX(-200px);
   transition: transform 200ms, opacity 200ms;
}

.target-enter{
   opacity: 0;
   transform: translateX(200px);
}
.target-exit{
   opacity: 1;
   transform: translateX(0);
}
.target-enter-active{
   opacity: 1;
   transform: translateX(0);
   transition: transform 200ms, opacity 200ms;
}
.target-exit-active{
   opacity: 0;
   transform: translateX(200px);
   transition: transform 200ms, opacity 200ms;
}

/* Cards */

div.sequence {
  display: flex;
  width: 280px;
  height: 260px;
  border: 0px;
  border-radius: 4px;
  margin: auto;
}

div.sequence.hand {
  background-color: #6E90FF;
}

div.sequence.schedule {
  background-color: #F4A4CD;
}

.hand .card-order {
  display: none;
}

.schedule .card-fixed {
  margin: auto;
  margin-top: 8px;
}

.schedule .card-order {
  height: 0px;
  width: 0px;
  margin-top: 240px;
  margin-left: -16px;
}

div.card-slot {
  margin-top: -4px;
  min-width: 18px;
  width: 18px;
  max-width: 24px;
  display: flex;
  flex-shrink: initial;
  flex-direction: row;
  overflow: visible;
}

div.card {
  min-width: 220px;
  width: 220px;
  height: 260px;
  border: 2px solid #BF8DE2;
  border-radius: 8px;
  background-color: #F5CBA3;
  color: #BF8DE2;
  text-align: center;
}

.card.sd .pattern {
  background-image: url('icons/iconsnare.png');
}

.card.bd .pattern {
  background-image: url('icons/iconbass.png');
}

.card.ch .pattern {
  background-image: url('icons/iconhihat.png');
}

div.card:hover {
  border: 2px solid #B8F7FF;
}

.card .sample {
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card .MuiCardContent-root {
  padding: 8px;
  height: 184px;
}

div.card button {
  font-weight: bolder;
  font-size: 18px;
}

.card .pattern {
  border: 2px solid #BF8DE2;
  border-radius: 4px;
  margin: auto;
  margin-top: 8px;
  background-size: cover;
}

.card .cell {
  padding: 0px;
  margin: 0px;
  border: 2px solid;
  border-radius: 4px;
  cursor: help;
  opacity: 0.8;
}

.card .cell .step {
  width: 38px;
  height: 38px;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  border: 0px;
  background-color: transparent;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.card .cell.INCREMENT .step {
  background-image: url("icons/add_black_24dp.svg");
}

.card .cell.DECREMENT .step {
  background-image: url("icons/remove_black_24dp.svg");
}

@keyframes shift-up {
  0% {transform: translateY(40px)}
  40% {transform: translateY(0px)}
  100% {transform: translateY(0px)}
}
.card .cell.SHIFT_UP .step {
  background-image: url("icons/arrow_upward_black_24dp.svg");
  animation-name: shift-up;
}

@keyframes shift-right {
  0% {transform: translateX(-40px)}
  40% {transform: translateY(0px)}
  100% {transform: translateY(0px)}
}
.card .cell.SHIFT_RIGHT .step {
  background-image: url("icons/arrow_forward_black_24dp.svg");
  animation-name: shift-right;
}

@keyframes shift-down {
  0% {transform: translateY(-40px)}
  40% {transform: translateY(0px)}
  100% {transform: translateY(0px)}
}
.card .cell.SHIFT_DOWN .step {
  background-image: url("icons/arrow_downward_black_24dp.svg");
  animation-name: shift-down;
}

@keyframes shift-left {
  0% {transform: translateX(40px)}
  40% {transform: translateY(0px)}
  100% {transform: translateY(0px)}
}
.card .cell.SHIFT_LEFT .step {
  background-image: url("icons/arrow_back_black_24dp.svg");
  animation-name: shift-left;
}

/* The border color for MAX needs to accomodate the fill color. */
.card .cell.MAX {
  background-color: #BF8DE2;
}
.card .cell.MAX .step {
  background-color: #BF8DE2;
}

.card .cell.ZERO {
  background-color: #F5CBA3;
}
.card .cell.ZERO .step {
  background-color: #F5CBA3;
}

.card .cell.IGNORE {
  background-color: transparent;
  border-width: 0px;
}

.card p {
  margin: 0px;
  margin-top: 4px;
  text-align: left;
}

.card button {
  margin: auto;
}

@keyframes shift-over {
  from {
    transform: translateX(24px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes play-card {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

div.card-slot.card-exit {
  animation: play-card 0.2s linear forwards;
}

@keyframes displace-card {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-192px) rotate(-1deg);
    opacity: 0.6;
  }
}

div.card-displace {
  animation: displace-card 0.2s linear forwards;
}

div.card-stay-displaced {
  transform: translateX(-192px) rotate(-1deg);
}

@keyframes show-card {
  0% {
    transform: translateX(-192px) rotate(-1deg);
  }
  100% {
    transform: translateX(0px);
  }
}

div.card-show {
  animation: show-card 0.2s linear forwards;
  transition: margin-left;
}

.hand div.selected.card {
  opacity: 1;
}

.hand div.selected button.emphasis {
  animation: glow 1s linear infinite forwards;
}

div.card-stay-shown {
  transform: translateX(0px);
}

/* Event */
div.event-modal {
  height: 100%;
  width: 100%;
  padding: auto;
  background-image: url("icons/tileableholograph.png");
}

.event-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  vertical-align: middle;
  color: #AF81E4;
}


/* Layout */

.game-board {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}

.portrait {
  margin: auto;
  border-radius: 4px;
  width: 240px;
  height: 360px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

/* Placeholders for now. */

.pc-area .portrait {
  background-color: #6E90FF;
}

.npc-area .portrait {
  background-color: transparent;
  background-image: url("icons/portraits_cadence_cropped.png");
  background-size: cover;
}

div.progress-bar {
  height: 18px !important;
  border-radius: 4px;
}

div.my-parts button {
  margin-top: 8px;
}

div.target-parts button {
  margin-top: 8px;
}

div.start-stop {
  margin: 0px;
  margin-top: 8px;
  height: 30px;
}

div.start-stop button {
  background-size: cover;
  background-color: transparent;
  min-width: 24px;
  min-height: 24px;
  width: 36px;
  height: 36px;
}

button.play {
  background-image: url("icons/play_arrow_black_24dp.svg");
}

button.stop {
  background-image: url("icons/stop_black_24dp.svg");
}

div.title h1 {
  margin: 0px;
  padding: 0px;
}

button.selected {
  border: 4px solid #B8F7FF;
}

div.dialogue {
  padding: 8px;
}

.dialogue-wrapper {
  margin: auto;
  border-radius: 4px;
  background-color: #F4A4CD;
  border: 2px solid #BF8DE2;
  min-height: 120px;
  max-height: 160px;
  min-width: 340px;
  max-width: 100%;
  padding: 8px;
  color: #B8F7FF; 
}

.dialogue-wrapper::after {
  content: "";
  background: url("icons/arrow_right_black_24dp.svg");
  background-size: cover;
  width: 100px;
  height: 100px;
  float: right;
  margin-right: -64px;
  margin-top: -110px;
}

div.next-day {
  margin-top: 16px;
  min-width: 100px;
}

.label h3 {
  margin-bottom: 16px;
  margin-top: 0px;
}

div.hand-area {
  min-width: 300px;
}

div.schedule-area {
  min-width: 300px;
}

@keyframes glow {
  0% {
    text-shadow: 0px 0px 4px #F4A4CD;
    box-shadow: 0px 0px 0px #BF8DE2;
  }
  25% {
    text-shadow: 0px 0px 16px #F4A4CD;
    transform: translate(0px, -4px) scale(1.02);
    box-shadow: 0px 2px 4px #BF8DE2;
  }
  50% {
    text-shadow: 0px 0px 32px #F4A4CD;
    transform: translate(0px, -8px) scale(1.05);
    box-shadow: 0px 4px 8px #BF8DE2;
  }
  75% {
    text-shadow: 0px 0px 16px #F4A4CD;
    transform: translate(0px, -4px) scale(1.02);
    box-shadow: 0px 2px 4px #BF8DE2;
  }
  100% {
    text-shadow: 0px 0px 4px #F4A4CD;
    box-shadow: 0px 0px 0px #BF8DE2;
  }
}

.glow {
  text-shadow: 0px 0px 4px #F4A4CD;
  animation: glow 1s linear infinite forwards;
}

.break {
  height: 16px;
}

button.MuiButton-contained {
  background-color: #C1EFBD;
  color: #Bf8DE2;
}

button.MuiButton-contained.Mui-disabled {
  background-color: rgba(193, 239, 189, 0.3);
  color: #F5CBA3;
}

div.MuiLinearProgress-barColorPrimary {
  background-color: #B8F7FF; 
}

div.MuiLinearProgress-root {
  background-color: #BF8DE2; 
  border: 2px solid #B8F7FF;
}

.MuiTouchRipple-rippleVisible {
  color: #BF8DE2 !important;
}

/* Tutorial */
.tutorial-popper {
  margin-top: 8px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #B8F7FF !important;
  border: 2px solid #BF8DE2;
  position: static;
}

.tutorial-popper .up-arrow {
  background-image: url("icons/arrow_drop_up_black_24dp.svg");
  background-size: cover;
  margin-top: -26px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 36px;
  height: 24px;
}

.tutorial-popper p {
  margin: auto;
  text-align: center;
}

/* Intro */

div.intro {
  height: 100%;
  width: 100%;
  padding: auto;
  background-image: url("icons/tileableholograph.png");
}

.intro-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  vertical-align: middle;
  color: #AF81E4;
}

.intro .credits {
  position: absolute;
  text-align: left;
  bottom: 0px;
  left: 0px;
  margin: 16px;
}

/* Cutscene */

div.cutscene {
  height: 100%;
  width: 100%;
  padding: auto;
  background-image: url("icons/tileableholograph.png");
}

.continue-or-skip {
  text-align: center;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.cutscene{
  width: 100%;
  height: 100%;
}

.cutscene-body {
  width: 800px;
  margin: auto;
}

.cutscene-body h1 {
  text-align: center;
}

.cutscene-body button {
  margin-left: 16px;
  margin-top: -4px;
}

.cutscene-body p {
  padding: 16px;
  border-radius: 8px;
  width: 600px;
  text-shadow: none;
}

.cutscene-body .current p {
  animation: glow 1s linear infinite forwards;
}

.neon p {
  background-color: #6E90FF;
  color: #F5CBA3; 
  margin-right: auto;
  margin-left: 16px;
}

.avery p {
  background-color: #F5CBA3;
  border: 2px solid #6E90FF;
  color: #6E90FF;
  margin-left: auto;
  margin-right: 16px;
}

.cadence p {
  background-color: #F4A4CD;
  border: 2px solid #6E90FF;
  color: #6E90FF;
  margin-left: auto;
  margin-right: 16px;
}