.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sampler */

.sampler {
  margin: 4px;
  padding: 8px;
  border: 2px solid;
}

.sampler .step {
  min-width: 96px;
  width: 96px;
  height: 96px;
}

.sampler  .cell {
  padding: 8px;
}

.sampler .cell:hover {
  background-color: #61dafb;
}


.sampler .cell.selected .step {
 background-color: #000000; 
}

.sampler .cell.playing {
  background-color: #61dafb;
}

.sampler .caption {
  width: min-content;
}

/* Hand */

.hand .card {
  margin: 4px;
  min-width: 224px;
}

/* Layout */

.current-parts {
  min-width: 520px;
}

.target-parts {
  min-width: 520px;
}

.hand-area {
  min-width: 720px;
}